
$nav-background:black;
$nav-font-color:white;

  
  .navbar-nav{
      background-color:$nav-background;
      width: 100%;
      text-align: center;
                        
                    li {
                         margin-top:10px;
                         float: none;
                         display: inline-block;
                       }
                           
                 }

      .navbar-nav>li>a {
      color:$nav-font-color;
       }

       .navbar-default{
        background-color:$nav-background;
       }

       .navbar-default .navbar-nav>li>a:hover{
         color:$nav-font-color;
       }  

       .navbar-default .navbar-nav>li>a:visited{
        color:$nav-font-color;
      } 
    
    .navbar-collapse{
      background-color:$nav-background;
    }

    .navbar-collapse:hover{
      background-color:$nav-background;
    }

      .navbar-default .navbar-toggle:hover, 
      .navbar-default .navbar-toggle:focus{
      background-color:$nav-background;
  }

 #signature{
   float: left;
   margin-left:37px;
   height:75px;
   width:150px;
 }
  
  @media only screen and (max-width: 767px) {
      #signature{
        display: none;
      }
      .nav>li {
        text-align: center;
        position: relative;
        display: block;
      }
    }
    
    @media only screen and (min-width: 1000px) 
    {
      .navbar-nav{
                      li{
                     margin-right:30px;

                         }
                  }
    }

    body{
      background-color:$nav-background;
    }


    #home{
      height:600px;
      width:700px;
      margin:auto auto;
      object-fit: cover;
      background-image:url("../img/sitePhotos/home.jpg");
      background-size: cover;
    }
   
    

    @media only screen and (max-width: 767px) {
      #home{
        height:600px;
        width:400px;
      }
    }

    // .credit{
    //   margin-top:20px;
    //   color:$nav-font-color;
    //   text-align: center;
    // }


    .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $nav-background;
      color: $nav-font-color;
      text-align: center;
    }
    
    .icon{
      height:20px;
      margin-right:10px;
      margin-top:10px;
      margin-bottom:-10px;
    }
    
    #footDivide{
      width:200px;
      margin-bottom:-4px;
    }

    
   

     

    

               
